<div id="header">
  <h1>Hey! You can build:</h1>
</div>

<div id="content">
  <h3 id="idea"><%= idea %></h3>
  <p id="refresh">(<a href="/">refresh</a> for another)</p>
</div>

<div id="footer">
  <p>Made by gabebw.</p>
</div>
