<!DOCTYPE html>
<html>
  <head>
    <title>Programming IN THE CLOUD</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
