<!DOCTYPE html>
<html>
  <head>
    <title>PROGRAMMING IN THE CLOUD</title>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
  </head>

  <body>
    <div id="container">
      <p id="hey">Hey!</p>
      <%= yield %>
      <div id="footer">
        <p>Made by gabebw</p>
      </div>
    </div>
  </body>
</html>
