// The extremely poor man's reset.
* {
  padding: 0;
  margin: 0;
}

$baby-blue: #A1CAF1;
$width: 800px;

// FONTS
$sans-serif: "Helvetica Neue", sans-serif;

body {
  background-color: $baby-blue;
  width: $width;
  margin: 0 auto;
}

#container {
  margin-top: 80px;
  width: $width;

  #hey {
    font: 50px Lemon;
    text-align: center;
  }

  #header {
    margin-top: 20px;

    h1 {
      font-family: $sans-serif;
    }
  }

  #content {
    font-family: $sans-serif;

    #idea {
      font-size: 45px;
      margin-top: 25px;
    }

    #refresh {
      font-size: 20px;
      margin-top: 20px;
      text-align: center;

      a:visited {
        color: black;
      }
    }
  }

  #footer {
    margin: 30px auto;
    text-align: center;

    .love {
      color: red;
    }
  }
}
