@import 'normalize';
@import 'variables';
@import 'fonts';

body {
  background-color: $baby-blue;
  margin: 0 auto;
  width: $width;
}

#container {
  margin-top: 80px;
  width: $width;

  #header {
    margin-top: 20px;

    h1 {
      font: $header-font-size Lemon;
    }
  }

  #content {
    font-family: $sans-serif;

    a {
      color: lighten(black, 20%);
    }

    #idea {
      font-size: $body-font-size;
      height: 2em;
      margin-top: 1.2rem;
    }

    #refresh {
      font-size: $body-font-size - 10px;
      margin-top: 1.5rem;
      text-align: center;
    }
  }
}
